<!DOCTYPE html>
<html>
    <head>
        <title>Tipsexs Gästbok</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link href="<%= to("css/bootstrap.min.css") %>" 
                rel="stylesheet" media="screen">
            <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
            <script>
                tinymce.init({
                selector:'textarea',
                content_css : "<%= to('css/tinymce.css?t=')+Time.now.to_i.to_s %>",
                menubar : false,
                plugins : "link, image, emoticons",
                toolbar : "undo redo | styleselect fontsizeselect | bold italic underline bullist numlist | link image | emoticons"
                });
            </script>

                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>

  <div class="container">
      <div class="text-info page-header">
        <h2>Tipsex Gästbook</h2> 
      </div>
      <p>
      <div class="nav nav-pills">
          <li <%= "class='active'" if page == :posts %>><a href="<%=to('/')%>">Hem</a></li>
          <li <%= "class='active'" if page == :write or page == :post %>><a href="<%=to('/new_post')%>">Skriv nytt inlägg</a></li>
          <li <%= "class='active'" if page == :recent %>><a href="<%=to('/recent')%>">Senaste</a></li>
          <li <%= "class='active'" if page == :faq %>><a href="<%=to('/faq')%>">FAQ</a></li>
      </div>
      </p>
      <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:notice] %>
      </div>
      <% end %>

      <%= yield %> 
  </div>
  <div id="footer">
      <div class="container">
          <p class="pull-right text-muted credit">Copyleft and Right, Tipsex, 1999-<%=Time.now.year%>. <small>email: aengstrom at gnejs dot net</small></p>
      </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="<%= to("js/bootstrap.min.js") %>"></script>
  </body>
</html>
