
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= post.subject %></h3>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        Avs채ndare: <%= post.sender %> @ <%= post.created_at %>
    </div>
</div>
<% post.comments.each do |comment| %>
<div class="panel panel-primary">
    <div class="panel-body">
        <%= comment.body %>
    </div>
    <div class="panel-footer">
        Avs채ndare: <%= comment.sender %> @ <%= comment.created_at %>
    </div>
</div>
<% end %>
<div class="panel panel-info">
<div class="panel-heading"><h3>L채gg till kommentar</h3></div>
    <div class="panel-body">
        <%= form(to("/post/#{post.id}/comment"), :post) %>
            <div class="form-group">
                <%= label(:post, :from, "Avs채ndare") %>
                <%= input(:post, :from, :class => "form-control") %>
            </div>
            <div class="form-group">
                <%= label(:post, :body, "Kommentar") %>
                <%= textarea(:post, :body, '', :class => "form-control", :rows => "5") %>
            </div>
            <%= submit("Skicka", :class => "btn btn-primary") %>
        </form>
    </div>
</div>
