
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= h post.subject %></h3>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        <strong><%= h post.from %></strong> @ <%= hdate(post.created_at) %>
    </div>
</div>
<% post.comments.each do |comment| %>
<div class="panel panel-primary">
    <div class="panel-body">
        <%= comment.body %>
    </div>
    <div class="panel-footer">
        <strong><%= h comment.from %></strong> @ <%= hdate(comment.created_at) %>
    </div>
</div>
<% end %>
<div class="panel panel-info">
<div class="panel-heading"><h3>Lägg till kommentar</h3></div>
    <div class="panel-body">
        <%= form(to("/post/#{post.id}"), :post) %>
            <div class="form-group">
                <%= label(:comment, :from, "Avsändare") %>
                <%= input(:comment, :from, :class => "form-control") %>
            </div>
            <div class="form-group">
                <%= label(:comment, :body, "Kommentar") %>
                <%= textarea(:comment, :body, '', :class => "form-control", :rows => "5") %>
            </div>
            <%= submit("Skicka", :class => "btn btn-primary") %>
        </form>
    </div>
</div>
