<!-- 
    TODO: Define the target of the form, this is dependent on if we're creating
    or updating the post.
-->
<div class="panel panel-primary">
<div class="panel-heading"><h3>Skriv ett inlägg</h3></div>
    <div class="panel-body">
        <%= form(to("/new_post"), :post) %>
            <div class="form-group">
                <%= label(:post, :from, "Avsändare") %>
                <%= input(:post, :from, :class => "form-control", :placeholder => "Avsändare") %>
            </div>
            <div class="form-group">
                <%= label(:post, :subject, "Ämne") %>
                <%= input(:post, :subject, :class => "form-control", :placeholder => "Ämne") %>
            </div>
            <div class="form-group">
                <%= label(:post, :body, "Meddelande") %>
                <%= textarea(:post, :body, '', :rows => "5", :class => "form-control") %>
            </div>
            <%= submit("Skicka", :class => "btn btn-primary") %>
        </form>
    </div>
</div>
