<% posts.each do |post| %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= h post.subject %></h3>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        <p>
            <strong><%= h post.from %></strong> @ <%= hdate(post.created_at) %>
            <% if post.comments.count == 0 %>
                       <a href="<%= to("/post/#{post.id}") %>"><span class="label label-default pull-right"><%= _fmt_comments(0) %></span></a>
            <% else %>
                <a href="<%= to("/post/#{post.id}") %>"><span class="label label-info pull-right"><%= _fmt_comments(post.comments.count) %></span></a>
            <% end %>
        </p> 
    </div>
</div>
<% end %>
<ul class="pager">
    <% if page_current > 1 %>
    <li>
        <a href="<%= to("/posts/#{page_current - 1}") %>">&larr; Nyare</a>
    <% else %>
    <li class="disabled">
        <a href="#">&larr; Nyare</a>
    <% end %>
    </li>
    <li><small>Sidan <%= page_current %> av <%= page_count %></small></li>
    <% if page_current < page_count %>
    <li>
        <a href="<%=to("/posts/#{page_current + 1}")%>">Äldre &rarr;</a>
    <% else %>
    <li class="disabled">
        <a href="#">Äldre &rarr;</a>
    <% end %>
    </li>
</ul>

