
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= post.subject %></h3>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        Avsändare: <%= post.sender %> @ <%= post.created_at %>
    </div>
</div>
<% post.comments.each do |comment| %>
<div class="panel panel-primary">
    <div class="panel-body">
        <%= comment.body %>
    </div>
    <div class="panel-footer">
        Avsändare: <%= comment.sender %> @ <%= comment.created_at %>
    </div>
</div>
<% end %>
<div class="panel panel-info">
<div class="panel-heading"><h3>Lägg till kommentar</h3></div>
    <div class="panel-body">
        <form role="form" action="<%=to("/post/#{post.id}/comment")%>" method="post">
            <div class="form-group">
                <label for="from">Från</label>
                <input type="text" class="form-control" id="from" name="from" placeholder="Avsändare"/>
            </div>
            <div class="form-group">
                <label for="body">Meddelande</label>
                <textarea id="body" name="body" class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Skicka</button>
        </form>
    </div>
</div>
