<h3>Add link: <em>Back</em></h3>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= post.subject %></h3>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
    <div class="panel-footer">
        Avsändare: <%= post.sender %> @ <%= post.created_at %>
    </div>
</div>
<% post.comments.each do |comment| %>
<div class="panel panel-primary">
    <div class="panel-body">
        <%= comment.body %>
    </div>
    <div class="panel-footer">
        Avsändare: <%= comment.sender %> @ <%= comment.created_at %>
    </div>
</div>
<% end %>
